<% layout('layouts/boilerplate') %>
   <div class="row">
	   
	   <div class="col-6 offset-3"> 
		<h1 class="text-center">New Campground</h1>
		 <form action='/campgrounds' method='POST' novalidate class="formValidation" enctype="multipart/form-data">
		  <div>
			<label for="title" class="form-label">Title:</label>
			<input class="form-control" type="text" id="title" name="campground[title]" required>
		  </div>
		  <div class="mb-3">
			<label for="location" class="form-label" >Location:</label>
			<input class="form-control" type="text" id="location" name="campground[location]" required>
		  </div>
		  <div class="mb-3">
           <label class="form-label" for="price">Price:</label>
            <div class="input-group mb-3">
             <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
              </div>
             <input type="text" class="form-control" id="price"                         
			       name="campground[price]"placeholder="0.00" required>
            </div>
          </div>
		  <div class="mb-3">
			 
          <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                     <span class="form-file-text custom-file-label">Choose image(s)...</span>   
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
        </div>
			 
			<!--<label for="image" class="form-label" >Image Url:</label>
			<input class="form-control" type="text" id="image" name="campground[image]" required>-->
		  </div>
		  <div class="mb-3">
			<label for="description" class="form-label" >Description:</label>
			<textarea class="form-control" type="text" id="description" name="campground[description]">                 </textarea>
		  </div>
		  <div class="mb-3">
			<button class="btn btn-success">
				SUBMIT
			</button>
	      </div>
			
	  </form>
	      <div class="mb-3">
		     <a class="btn btn-primary mb-3" href="/campgrounds">ALL CAMPGROUNDS</a>
		  </div>
			

		   
	   </div>
	   
   </div>

